What is XML?
XML stands for eXtensible Markup Language
XML is a markup language much like HTML
XML was designed to store and transport data
XML was designed to be self-descriptive
XML is a W3C Recommendation

In [2]:
import pandas as pd

In [6]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
 </row>
</data>'''

In [7]:
pd.read_xml(xml)

C:\Users\vimmy\AppData\Local\Temp\ipykernel_7632\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [8]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Vimmy</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
   <firstname/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname/>
 </row>
</data>'''

In [9]:
pd.read_xml(xml)

C:\Users\vimmy\AppData\Local\Temp\ipykernel_7632\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0     Vimmy
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [10]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data>
  <row shape="square" degrees="360" sides="4.0" firstname="Vimmy"/>
  <row shape="circle" degrees="360"/>
  <row shape="triangle" degrees="180" sides="3.0" lastname="Verma"/>
</data>'''

In [11]:
pd.read_xml(xml)

C:\Users\vimmy\AppData\Local\Temp\ipykernel_7632\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides firstname lastname
0    square      360    4.0     Vimmy     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None    Verma

In [12]:
pd.read_xml(xml,xpath = ".//row")

C:\Users\vimmy\AppData\Local\Temp\ipykernel_7632\4211317988.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml,xpath = ".//row")

      shape  degrees  sides firstname lastname
0    square      360    4.0     Vimmy     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None    Verma

In [ ]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>''

SyntaxError: incomplete input (4207451959.py, line 1)

In [17]:
#df = pd.read_xml(xml, xpath = ".//doc:row", namespaces = {"doc": "https://example.com"})

In [16]:
#df.to_xml('test1.xml')