In [1]:
type([1,2,3,4,5,6,7])

list

In [3]:
lst = []
for i in range(0,9):
    lst.append(i)

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
lst = [1,2,3,4,5,6]
lstt = []
for i in lst:
    lstt.append(i**2)

print(lstt)

[1, 4, 9, 16, 25, 36]

In [5]:
numbers = [1,2,3,4,5]
squarenum = [i**2 for i in numbers]
print(squarenum)

[1, 4, 9, 16, 25]

In [7]:
#filtering even num from a list
numbers = [1,2,3,4,5,6,7,8,9,10]
evennum = [n for n in numbers if n%2 == 0]
print(evennum)

[2, 4, 6, 8, 10]

In [8]:
#flattening a list of lists using 2 loops
lists = [[1,2,3], [4,5,6], [7,8,9]]
flatten = [item for sublists in lists for item in sublists]
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
#generate a list of first letters of words in a list
words = ['apple', 'banana', 'cherry', 'date']
firstletter = [word[0] for word in words]
print(firstletter)

['a', 'b', 'c', 'd']

In [10]:
#generate a list of squares of even nums
numbers = [1,2,3,4,5,6,7,8,9,10]
sq = [n**2 for n in numbers if n%2 == 0]
print(sq)

[4, 16, 36, 64, 100]

In [12]:
#convert a list of strings into a list of numbers
strings = ['1', '2', '3', '4', '5']
[int(s) for s in strings]

[1, 2, 3, 4, 5]

In [14]:
## Generate a list of Fibonacci sequence using a list comprehension
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]
[fib[i-1] + fib[i-2] for i in range(2,len(fib))]

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [20]:
#Generate a list of all the divisors of a number
number = 36
[i for i in range(1, number+1) if number%i == 0]

[1, 2, 3, 4, 6, 9, 12, 18, 36]