**Python Data Classes**

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as init, repr, and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [3]:
class person:
    def __init__(self, name, age, profession):
        self.name = name
        self.age = age
        self.profession = profession

print(person)

<class '__main__.person'>

In [4]:
#instead of making class like this. We can use data classes

from dataclasses import dataclass

@dataclass
class person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following methods for you:

**init()**: Initializes the object and assigns the provided values to the attributes.

**repr()**: Provides a string representation of the object.

**eq()**: Implements equality comparison between two objects of the class based on their attributes.

In [6]:
person1 = person('Mohan', 20, 'SE')
print(person1)

person(name='Mohan', age=20, profession='SE')

In [8]:
person1.name

'Mohan'

In [9]:
person1.age

20

In [10]:
@dataclass
class rectangle:
    width:int
    height:int
    color:str='white'

rectangle1 = rectangle(12, 13)
rectangle2 = rectangle(13, 14, 'red') #we can override default value

In [11]:
rectangle2.color

'red'

In [12]:
@dataclass(frozen = True) #cannot change the value in this property
class point:
    x:int
    y:int

In [13]:
point1 = point(3, 4)

In [15]:
point1.x, point1.y

(3, 4)

In [17]:
point1.x=12 #FronzenInstanceError

FrozenInstanceError: cannot assign to field 'x'

In [18]:
#Dataclasses in Inheritance
@dataclass
class person:
    name:str
    age:int

@dataclass
class employee(person):
    employee_id:int
    department:str

In [19]:
person1 = person('vimmy', 21)
employee1 = employee('vimmy', 21, 231, 'Gen AI')

In [20]:
employee1.name

'vimmy'

In [34]:
#nested dataclass
@dataclass
class Address:
    street:str
    state:str
    zip_code:int

@dataclass
class Person:
    name:str
    age:int
    address:Address #will take values from address class itself

In [41]:
address1 = Address('Club Road Palace Compound', 'Gujarat', 363310)
person1 = Person('vimmy', 21, address1)

In [44]:
person1.address

Address(street='Club Road Palace Compound', state='Gujarat', zip_code=363310)

In [45]:
print(person1.address.street)

Club Road Palace Compound

In [46]:
person1.address.state

'Gujarat'