In [3]:
#if statement
val = input("Enter a number:")
value_float = float(val)
if(value_float > 100):
    print("num is greater than 100")

Enter a number: 4567

num is greater than 100

In [4]:
val = input("Enter a number:")
value_float = float(val)
if(value_float%2 == 0):
    print("num is even")

Enter a number: 4

num is even

In [5]:
#if-else statement
val = input("Enter a number:")
value_float = float(val)
if(value_float%2 == 0):
    print("num is even")
else:
    print("num is odd")

Enter a number: 13

num is odd

In [7]:
#nested if-else ---elif
age = float(input("Enter a age:"))
if(age < 18):
    print("Minor age")
elif(age >= 18 and age <= 45):
    print("Mid age")
elif(age > 45 and age <=50):
    print("Senior mid age")
else:
    print("Senior citizen")

Enter a age: 56

Senior citizen

In [8]:
age = float(input("Enter a age:"))
if(age < 18):
    print("Minor age")
    if(age < 15):
        print("You are in school")
    else:
        print("You are in college")
elif(age >= 18 and age <= 45):
    print("Mid age")
elif(age > 45 and age <=50):
    print("Senior mid age")
else:
    print("Senior citizen")

Enter a age: 14

Minor age
You are in school

In [15]:
#for loop
lst = [1,2,3,4,5,6,7]
for i in lst:
    #print(i)
    print(i**2)

1
4
9
16
25
36
49

In [16]:
#sum of all nums
lst = [1,2,3,4,5,6,7]
summ = 0
for i in lst:
    summ = summ + i
print(summ)

28

In [ ]:
#sum of even and odd
lst = [1,2,3,4,5,6,7]
summ_even = 0
summ_odd = 0
for i in lst:
    if(i%2 == 0):
        summ_even = summ_even + i
    else:
        summ_odd = summ_odd + i
#print(summ_even, summ_odd)
print("Even sum is {}".format(summ_even))
print("Odd sum is {}".format(summ_odd))

In [ ]:
#while loop
i = 0
while(i <= 10):
    print(i)
    i = i+1

In [ ]:
summ_even = 0
summ_odd = 0
while(i <= 10):
    if(i%2 == 0):
        summ_even = summ_even + i
    else:
        summ_odd = summ_odd + i
    i = i+1
print(summ_even, summ_odd)

In [ ]:
#break
i = 1
while(i <= 10):
    print(x)
    if(x == 4):
        break
    x = x+i

In [ ]:
i = 1
while(i <= 10):
    if(x == 4):
        break
    print(x)
    x = x+i

In [ ]:
#continue
i = 1
while(i <= 10):
    x = x+i
    if(x == 4):
        continue
    print(x)