A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [2]:
type({1})

set

In [3]:
type({1,2,3,4,5,'vimmy'})

set

In [5]:
print(type(set([1,2,3,4,5])))

<class 'set'>

In [7]:
print(set([1,2,3,4,4,5,5]))

{1, 2, 3, 4, 5}

In [8]:
#empty set
sett=set()
print(sett)
print(type(sett))

set()
<class 'set'>

In [9]:
sett={"Avengers","IronMan",'Hitman'}
print(sett)
type(sett)

{'Hitman', 'Avengers', 'IronMan'}

set

In [13]:
#cannot do indexing in set
#cannot assign values in set
#sett[2]- invalid

In [12]:
for i in sett:
    print(i)

Hitman
Avengers
IronMan

In [15]:
## Inbuilt function in sets
sett.add("Hulk")
sett

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [16]:
#set always gives alphabetical order

In [19]:
set1=set([6,3,5,1,2,33])
set1

{1, 2, 3, 5, 6, 33}

In [21]:
set1.add(0)
set1

{0, 1, 2, 3, 5, 6, 33}

In [29]:
#intersection
set1={'Avengers', 'Hitman', 'Hulk'}
set2={'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [30]:
set2

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [31]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Hulk'}

In [34]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'Hulk'}

In [37]:
#difference
set1={'Avengers', 'Hitman', 'Hulk'}
set2={'Avengers', 'Hitman', 'Hulk', 'IronMan'}
set2.difference(set1)

{'IronMan'}

In [47]:
set2.difference_update(set1)
set2

{'IronMan'}

In [45]:
#issubset
set1={'Avengers', 'Hitman', 'Hulk'}
set2={'Avengers', 'Hitman', 'Hulk', 'IronMan'}
set1.issubset(set2)

True

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [48]:
dic={}
type(dic)

dict

In [49]:
dic={1}
type(dic)

set

In [50]:
type({1:'vimmy'})

dict

In [52]:
dict(name='vimmy', age=20)

{'name': 'vimmy', 'age': 20}

In [53]:
#Dictionary creation
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [57]:
my_dict.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Mercidies Benz')])

In [61]:
#loop throught the dictionaries keys
for i in my_dict:
    print(i)

Car1
Car2
Car3

In [62]:
#loop throught the dictionaries values
for i in my_dict.values():
    print(i)

Audi
BMW
Mercidies Benz

In [60]:
#also check both keys and values
for i in my_dict.items():
    print(i)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [55]:
#Access the item values based on keys
my_dict['Car1']

'Audi'

In [64]:
## Adding items in Dictionaries
my_dict['car4']='Audi 2.0'

In [65]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [66]:
#update 
my_dict['Car1']='Maruti'
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [67]:
#nested dictionary
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [71]:
#Accessing the items in the dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [72]:
print(car_type['car1']['Mercedes'])

1960

Tuples

In [73]:
#create an empty Tuples
my_tuple=tuple()

In [74]:
type(my_tuple)

tuple

In [75]:
my_tuple=('Hello','World')
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [78]:
## Inbuilt function
myy_tuple=('vimmy','vimmy','verma')
myy_tuple.count('vimmy')

2

In [80]:
myy_tuple.index('verma')

2