In [1]:
#Reading Different Data sources with the help of pandas
from io import StringIO

In [6]:
import pandas as pd
df = pd.read_csv("mercedesbenz.csv")
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [7]:
type(df)

pandas.core.frame.DataFrame

In [20]:
data = ("col1,col2,col3\n"
       "x,y,1\n"
       "a,b,2\n"
       "c,d,3")

In [10]:
type(data)

str

In [11]:
#in memeory file format object
StringIO(data)

In [12]:
pd.read_csv(StringIO(data))

  col1  col2   col3
0    x     y      1
1    a     b      2
2    c     d      3

In [21]:
pd.read_csv(StringIO(data), usecols=['col1','col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [25]:
df = pd.read_csv("mercedesbenz.csv", usecols=['X0','X1','X2','X3','X4','X5'])
df.head()

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

In [27]:
df.to_csv("test.csv", index = False)

In [31]:
#datatypes in csv
data = ("a, b, c, d\n"
       "1,2,3,4\n"
       "5,6,7,8\n"
       "9,10,11")

In [32]:
df = pd.read_csv(StringIO(data))

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1    b      3 non-null      int64
 2    c      3 non-null      int64
 3    d      2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [34]:
df = pd.read_csv(StringIO(data), dtype = "object")

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1    b      3 non-null      object
 2    c      3 non-null      object
 3    d      2 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes

In [36]:
df.head()

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [37]:
df.isnull().sum()

a     0
 b    0
 c    0
 d    1
dtype: int64

In [38]:
df["a"]

0    1
1    5
2    9
Name: a, dtype: object

In [41]:
df["a"][0]

'1'

In [64]:
df = pd.read_csv(StringIO(data), dtype={'a': int, 'b': float, 'c': int})

In [65]:
print(df)

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1    b      3 non-null      int64
 2    c      3 non-null      int64
 3    d      2 non-null      float64
dtypes: float64(1), int32(1), int64(2)
memory usage: 216.0 bytes

In [66]:
df.dtypes

a       int32
 b      int64
 c      int64
 d    float64
dtype: object

In [68]:
data = ("index, a, b, c\n"
       "4, apple, bat, 5.7\n"
       "8, orange, cow, 10")

In [70]:
pd.read_csv(StringIO(data))

   index        a     b     c
0      4    apple   bat   5.7
1      8   orange   cow  10.0

In [71]:
pd.read_csv(StringIO(data), index_col = 0)

             a     b     c
index
4        apple   bat   5.7
8       orange   cow  10.0

In [72]:
# use index cols and usecols
data = ('a,b,c\n'
           '4,apple,bat\n'
            '8,orange,cow')

In [76]:
pd.read_csv(StringIO(data), usecols = ["a", "b", "c"], index_col = 0)

        b    c
a
4   apple  bat
8  orange  cow